project_id         = "my-enterprise-gcp-prod-project"
region             = "us-central1"
network_name       = "copilot-prod-vpc"
public_subnet_cidr = "10.0.1.0/24"
private_subnet_cidr= "10.0.2.0/24"
db_tier            = "db-custom-8-32768"
db_name            = "enterprise_copilot_prod"
db_user            = "copilot_prod_user"
openai_api_key     = "sk-proj-prod-placeholder-key"
anthropic_api_key  = "sk-ant-prod-placeholder-key"
